@mixin f400 {
  font-weight: 400;
  font-family: Poppins, sans-serif;
}

@mixin f500 {
  font-weight: 500;
  font-family: Poppins, sans-serif;
}

@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: 1440px) {
    @content;
  }
}