.header {
  min-height: 100vh;
  padding-bottom: 100px;
  background-image: linear-gradient(
    to right top,
    #0ea3e3,
    #007ac2,
    #00539e,
    #142d76,
    #17044d
  );
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 75px 15px;
  @include md {
    margin: 15px 0;
  }
}

.header__logo {
  margin-right: 15px;
}

.menu {
  @include md {
    display: grid;
    margin: 15px 0;
  }
}
.menu__button {
  @include md {
    z-index: 1;
    padding: 0;
    border: 0;
    background-color: transparent;
    width: 32px;
    height: 32px;
  }
}

.menu__icon {
  @include md {
    stroke: var(--color-white);
  }
}

.menu__button--open .menu__icon-cross,
.menu__icon,
.menu__icon-menu {
  @include md {
    display: block;
  }
}
.menu__button--open .menu__icon-menu,
.menu__icon-cross {
  @include md {
    display: none;
  }
}

.header__menu {
  @include md {
    width: 100%;
  }
}

.menu__list {
  width: 100vh;
  font-size: 30px;
  list-style: none;
  @include md {
    width: 100%;
  }
}

.menu__list {
  @include md {
    display: none;
    gap: 20px;
  }
}
.menu__list--open {
  @include md {
    display: grid;
    text-align: center;
  }
}

.menu__link {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  margin-right: 40px;
  transition: color 0.3s;
  @include md {
    font-size: 1.2rem;
    margin-right: 0;
    display: block;
  }
  &:hover {
    color: var(--color-blue);
  }
}

.header__btn {
  margin-top: 15px;
  @include md {
    width: 100%;
  }
}

@media (min-width: 737px) {
  .menu__button {
    display: none;
  }
}

@media (min-width: 737px) {
  .menu__list {
    display: grid;
    grid-auto-flow: column;
  }
}
