@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../../fonts/Poppins-Regular.woff2") format("woff2"), url("../../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../../fonts/Poppins-Medium.woff2") format("woff2"), url("../../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}